<h1> ðŸ“˜ Biofilter â€” Reports to Annotation from Genes to SNPs </h1>

xxxxxx

Methods

* report.run() â€” Execute a report and return the results as a pandas DataFrame.

Available Reports

* gene_to_snp â€”

--------

### Start Biofilter3R

In [1]:
from biofilter import Biofilter
bf = Biofilter()

[INFO] â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•
[INFO] ðŸš€ Initializing Biofilter3R
[INFO]    â€¢ Version: 3.2.0
[INFO]    â€¢ Debug mode: False
[INFO]    â€¢ Config: /home/bioadmin/biofilter/.biofilter.toml
[INFO] â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•
[INFO] ðŸ”Œ Database connection established
[INFO]    â€¢ Engine: postgresql+psycopg2
[INFO]    â€¢ Host:   localhost
[INFO]    â€¢ DB:     biofilter
[INFO]    â€¢ Time:   0.8 ms
[INFO] â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•â•

------

### 1. Report to extract ETL Status in the Database

Returns a consolidated ETL status view per data source, showing the latest successful pipeline state (Extract â†’ Transform â†’ Load) for each selected data source.

This report is designed to answer the question:

* For these data sources, do we have a valid and up-to-date ETL pipeline?

In [2]:
bf.report.explain("gene_to_snp")

ðŸ§¬ GENE â†’ SNP Report (v3.2.0)
============================

This report takes gene identifiers (symbols, HGNC IDs, Entrez IDs, Ensembl IDs, synonyms)
and returns SNPs overlapping each gene region.

Business rules (current schema):
- Gene regions come from EntityLocation and are currently available only for build 38.
- SNP lookup uses VariantSNP and overlaps are computed using build 38 coordinates.
- VariantSNP contains both position_38 and position_37; the report can display both.

Parameters:
- input_data: list[str] or path to .txt file (required)
- window_bp: int >= 0 (default: 1000). Extends the gene region +/- window_bp in build 38.
- assembly: "37" or "38" (optional). Controls which SNP position column(s) are returned:
    - None (default): return both snp_pos_38 and snp_pos_37
    - "38": return snp_pos_38 only
    - "37": return snp_pos_37 only
- output_columns: optional list[str]. Restrict output columns using available_columns() keys.

Usage:
    df = bf.report.run(
        "gene_to_snp",
        input_data=["TP53", "HGNC:11998"],
        window_bp=5000,
        assembly=None,
        output_columns=["input_gene","symbol","gene_chr","gene_start_38","gene_end_38","rs_id","snp_pos_38"]
    )

In [3]:
bf.report.example_input("gene_to_snp")

['TXLNGY', 'HGNC:18473', '246126', 'ENSG00000131002', 'HGNC:5']

In [4]:
df = bf.report.run(
    "gene_to_snp",
    input_data = ['TXLNGY', 'HGNC:18473', '246126', 'ENSG00000131002', 'HGNC:5'],
    assembly = 38
)

In [7]:
df.to_csv("results.csv")

-------

### 2. xxxx

xxx

In [5]:
df

,Input Gene,HGNC Symbol,Matched Name,Alias Type,Alias Source,Gene Entity ID,Gene Build,Gene Chr,Gene Start (Build 38),Gene End (Build 38),Gene Strand,Region Label,rsID,SNP Chr,SNP Pos (Build 38),Ref Allele,Alt Allele,DataSource,SourceSystem,Note
0,HGNC:5,A1BG,HGNC:5,code,HGNC,1,38.0,19.0,58345178.0,58353492.0,-,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,No SNPs found overlapping the gene region
1,TXLNGY,TXLNGY,TXLNGY,symbol,HGNC,38766,38.0,24.0,19567313.0,19606274.0,+,None,2.521263e+09,24.0,19566353.0,C,T,dbsnp_chry,NCBI,None
2,TXLNGY,TXLNGY,TXLNGY,symbol,HGNC,38766,38.0,24.0,19567313.0,19606274.0,+,None,3.900000e+03,24.0,19568371.0,G,C,dbsnp_chry,NCBI,None
3,TXLNGY,TXLNGY,TXLNGY,symbol,HGNC,38766,38.0,24.0,19567313.0,19606274.0,+,None,3.902000e+03,24.0,19568761.0,A,G,dbsnp_chry,NCBI,None
4,TXLNGY,TXLNGY,TXLNGY,symbol,HGNC,38766,38.0,24.0,19567313.0,19606274.0,+,None,3.910000e+03,24.0,19571345.0,T,A,dbsnp_chry,NCBI,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2829,TXLNGY,TXLNGY,TXLNGY,symbol,HGNC,38766,38.0,24.0,19567313.0,19606274.0,+,None,2.045149e+09,24.0,19607126.0,A,G,dbsnp_chry,NCBI,None
2830,TXLNGY,TXLNGY,TXLNGY,symbol,HGNC,38766,38.0,24.0,19567313.0,19606274.0,+,None,2.045149e+09,24.0,19607249.0,C,T,dbsnp_chry,NCBI,None
2831,HGNC:18473,TXLNGY,HGNC:18473,code,HGNC,38766,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Duplicate entity_id: mapped to same gene as an...
2832,246126,TXLNGY,246126,code,ENTREZ,38766,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Duplicate entity_id: mapped to same gene as an...
2833,ENSG00000131002,TXLNGY,ENSG00000131002,code,ENSEMBL,38766,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Duplicate entity_id: mapped to same gene as an...