# üß¨ Example Report: Positions to Genes
This notebook demonstrates how to run the Position ‚Üí Genes report using Biofilter3R.

In [1]:
from biofilter import Biofilter

In [2]:
# Instance of Biofilter
bf = Biofilter("postgresql+psycopg2://bioadmin:bioadmin@localhost/biofilter")

In [3]:
# Create an input list
position_list = [
    ("Y", 19568371),
    ("Y", 9999999999),]

In [4]:
# Run Report
result = bf.report.run_report(
    "report_position_to_gene",
    assembly='GRC38',
    input_data=position_list,)

  ‚úÖ Report successfully generated with 3 rows and 2 unique genes.
  ‚ÑπÔ∏è Note:
  - Variants without associated genes are annotate in the report.
  - Some gene metadata is based on external sources (HGNC, NCBI).

In [5]:
# Preview the result
result

,Input Position,Variant ID,Chr,Start,End,Ref Allele,Alt Allele,Variant Score,Assembly Accession,Assembly,Gene Symbol,Gene ID,HGNC Status,Locus Group,Locus Type,Gene Groups,DataSource,SourceSystem,Note
0,Y:19568371,rs3900,Y,19568371,19568371,G,C,8.9,NC_000024.10,GRCh38.p14,TXLNGY,38610,Approved,pseudogene,pseudogene,None,dbsnp_chry,NCBI,None
1,Y:19568371,rs3900,Y,19568371,19568371,G,C,8.9,NC_000024.10,GRCh38.p14,LOC105377223,54438,Provisional,ncRNA,unknown,NCBI Gene,dbsnp_chry,NCBI,None
2,Y:9999999999,None,None,None,None,None,None,NaN,None,None,None,None,None,None,None,None,None,None,No variant or gene found for this position